$primary: rgb(0, 204, 153);
$success: rgb(0, 178, 134);
$black: rgb(0, 0, 0);
$dark: rgb(38, 39, 40);
$steel: rgb(63, 69, 77);
$gray: rgb(112, 118, 127);
$medium: rgb(190, 195, 204);
$light: rgb(222, 225, 229);
$smoke: rgb(244, 245, 247);
$white: rgb(255, 255, 255);

